{% import "macros/widgets.html.twig" as widgets %}

<table class="table table-hover dataTable">
    <thead>
        <tr>
            
            <th>Resource Name</th>
            <th>Component</th>
            <th>Week_Day</th>
            <th>Work_Date</th>
            <th>WorkAt</th>
            <th class="text-center reportDataTypeTitle">Total(hrs)</th>
            <th>Jira_Id</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in stats %}
            <tr>
                <td>{{ entry.name }}</td>
                <td>{{ entry.component }}</td>
                <td>{{ entry.weekday }}</td>
                <td>{{ entry.workdate }}</td>
                <td>{{ entry.workAt}}</td>
                <td>{{ entry.hours }}</td>
                <td>{{ entry.jira_ids }}</td>
                <td>{{ entry.description }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
